<footer class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <img id="logo" src="assets/icons/logo.svg">
      <div class="footer-info-contacts">
        <img id="map_pin" src="assets/icons/map-pin.svg">
        <p>г.Гомель ул.Жарковского 26 кабинет 67</p>
      </div>
      <div class="footer-info-contacts">
        <img id="phone" src="assets/icons/phone.svg">
        <p>+375(44) 543-57-80</p>
      </div>
      <div class="footer-info-contacts">
        <img id="clock" src="assets/icons/clock.svg">
        <p>пн-вс 10:00 — 18:00</p>
      </div>
      <div class="footer-info-contacts">
        <p>Мы в соцсетях:</p>
        <img id="inst" src="assets/icons/inst.svg">
        <img id="tg" src="assets/icons/tg.svg">
      </div>
      <button class="btn_online-registration" (click)="openRegistrationMenu()">Онлайн запись</button>
      <p class="footer-info-additional">© ООО ‘’AZURA’’ 2023</p>
      <p class="footer-info-additional">Политика конфидецальноcти </p>
      <p class="footer-info-additional">Разработка сайта:  ‘’Brainwave’’ 2023</p>
    </div>
    <div class="footer_service">
      <div class="footer_service_main">
        <ul>
          <li id="footer_service_additional_li">Услуги</li>
          <li>Ресницы</li>
          <li>Массаж</li>
          <li>Аппаратная косметология</li>
          <li>Брови</li>
          <li>Визаж</li>
          <li>Перманентный макияж</li>
          <li>Мужчинам</li>
        </ul>
      </div>
      <div class="footer_service_additional">
        <ul>
          <li>Обучение</li>
          <li>Сертификаты</li>
          <li>Акции</li>
          <li>Наши мастера</li>
          <li>Контакты</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
