<div class="offer content">
  <div class="relative-address gap-bottom">
    <p class="relative-address__text">
      <span routerLink="/main-page">Главная / </span>
      <span class="relative-address__current">Обучение</span>
    </p>
  </div>
  <div class="study__information">
    <div>
      <h1>Обучение в салоне AZURA</h1>
      <p class="gap">В нашем салоне красоты вы можете получить востребованную профессию с нуля или повысить текущую квалификацию. Наши преподаватели — профессионалы, которые уделяют особое внимание передачи своих знаний и опыта студентам. Наши программы обучения разработаны с учётом последних тендеций и инноваций в индустрии красоты.</p>
    </div>
  </div>
  <div class="offer__advantages new-point">
    <h2>Преимущества</h2>
    <div class="study__advantages-list new-paragraph">
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>1</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Сертификат</h3>
          <p>После успешного завершения обучения в AZURA, каждому студенту выдаётся официальный сертификат, подтверждающий их профессиональные навыки и компетенции.</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>2</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Учебное пособие</h3>
          <p>AZURA предоставляет студентам учебное пособие, разработанное опытными преподавателями и специалистами в индустрии красоты. Это пособие содержит полезные материалы, техники, советы.</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>3</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Большая база знаний</h3>
          <p>Наши студенты получают большое количество теоретических знаний, советов и рекомендаций основаных на реальном опыте, а также обучающиеся получают практическое мастерство.</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>4</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Бесконечная онлайн поддержка</h3>
          <p>Мы предоставляем студентам возможность получать онлайн поддержку и консультации от наших преподавателей, даже после прохождения обучения.</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>4</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Стартовый набор</h3>
          <p>На курсах вам расскажут как собрать стартовый набор материалов, что качественнее и где дешевле</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>4</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Материалы и инструменты предоставляются</h3>
          <p>На время обучения материалы и инструменты предоставляются. Брать с собой ничего не нужно</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offer__questions new-point">
    <h2>Ресницы</h2>
    <div class="offer__questions-list new-paragraph">
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="study__offer-title">
            <h2>Классическое + объёмное наращивание с нуля</h2>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="offer__questions new-point">
    <h2>Брови</h2>
    <div class="offer__questions-list new-paragraph">
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="study__offer-title">
            <h2>Бровист с нуля</h2>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="offer__questions new-point">
    <h2>Косметолог</h2>
    <div class="offer__questions-list new-paragraph">
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="study__offer-title">
            <h2>Косметик — эстетист с нуля</h2>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="offer__questions-list new-paragraph">
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="study__offer-title">
            <h2>Косметик-эстетист продвинутый курс</h2>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

