<div class="title_div">
  <h1 class="title">Салон красоты AZURA — премиум уход за собой в Гомеле</h1>
  <p class="description">Откройте новые грани своей красоты вместе с нами: наш салон — место, где забота о вас является  нашим приоритетом</p>
  <p class="description_small">Откройте новые грани своей красоты вместе с нами</p>
  <img class="main_png" src="assets/images/img.png">
  <div class="rectangle"></div>
  <div class="social-media_logo">
    <img class="social-media_inst_logo" src="assets/icons/inst.svg" alt="Лого инстаграма">
    <img class="social-media_tg_logo" src="assets/icons/tg.svg" alt="Лого телеграмма">
  </div>
</div>
<div class="content">
  <div class="about-us about-us_text">
    <h1>О нас</h1>
    <h2>Мы — салон красоты специализируещися на аппаратной космтелогии и не только</h2>
    <p>Салон красоты бизнес-класса «Azura» - это элегантное место где основным видом услуг является аппаратная косметология. Мы специализируемся на использовании самых современных технологий и инновационных методик для достижения идеального состояния кожи.</p>
    <p>В нашем ассортименте услуг мы предлагаем широкий спектр процедур аппаратной косметологии, спа процедур, а так же мы специализируемся на услугах по уходу за ресницами, бровями, ногтями, визажу, перманентному макияжу</p>
    <div class="slider_images">
      <img id="img_1" src="assets/images/img_1.png" alt="">
      <img id="img_2" src="assets/images/img_2.png" alt="">
      <img class="img_3_slider" src="assets/images/img_3.jpeg" alt="">
    </div>
  </div>
</div>
  <div class="img_3">
    <img id="img_3" src="assets/images/img_3.jpeg" alt="">
  </div>
<div class="content">
  <div class="about-us technologies about-us_text">
    <h1>Наши технологии</h1>
    <h2>Преобразуйте свою кожу с помощью передовых технологий аппаратной косметологии</h2>
    <p>Аппаратная косметология позволяет достичь глубокого и долгосрочного эффекта на кожу, благодаря проникновению активных веществ. В нашем салоне красоты вы найдете широкий выбор процедур аппаратной косметологии, подобранных индивидуально для каждого клиента.</p>
    <p>Мы предоставляем не только красоту, но и здоровье кожи, используя только высококачественные и безопасные для здоровья косметические средства. Наш салон красоты - это место для релаксации, процедур и уверенности в своей коже.</p>
    <div class="slider_images">
      <img id="img_4" src="assets/images/img_4.png" alt="">
      <img id="img_5" src="assets/images/img_5.png" alt="">
      <img class="img_6_slider" src="assets/images/img_6.jpeg" alt="">
    </div>
  </div>
</div>
  <div class="img_6">
    <img id="img_6" src="assets/images/img_6.jpeg" alt="">
  </div>
<div class="content">
  <div class="about-us">
    <h1>Услуги</h1>
    <div class="services">
      <div class="optional_block">
        <h2>Красота - это гармония, сочетание внутреннего и внешнего.
          Мы поможем сохранить эту гармонию.</h2>
      </div>
      <div class="services_cards" *ngFor="let operationType of operationTypes">
        <img id="services_card_{{operationType.id}}" src="assets/images/img_3.png" alt="">
        <div class="services_info">
          <p class="services_info_main">{{operationType.name}}</p>
          <p>Подробнее</p>
        </div>
      </div>
    </div>
    <div class="services_master">
      <h1>Наши мастера</h1>
      <div class="services_master_cards">
        <div *ngFor="let master of masters">
          <img src="assets/images/img_13.png" alt="">
          <h2>{{master.name}}</h2>
          <p>{{master.about}}</p>
        </div>
      </div>
    </div>
    <h1>Отзывы</h1>
  </div>
  <div class="feedback_cards">
    <div class="feedback_card">
      <button id="btn_1" type="button"><img src="assets/icons/chevron.svg" alt=""></button>
      <img class="feedback_card_img" src="assets/icons/double-quotes.svg" alt="">
      <p class="feedback_card_date">04.04.2023</p>
      <div>
        <h2>Анастасия С.</h2>
        <p class="feedback_card_text">Этот салон красоты просто великолепен! Я осталась очень довольна своей стрижкой, и мастер была такой милая и внимательная.</p>
      </div>
    </div>
    <div class="feedback_card">
      <button id="btn_2" type="button"><img src="assets/icons/chevron.svg" alt=""></button>
      <img class="feedback_card_img" src="assets/icons/double-quotes.svg" alt="">
      <p class="feedback_card_date">04.04.2023</p>
      <div>
        <h2>Анастасия С.</h2>
        <p class="feedback_card_text">Этот салон красоты просто великолепен! Я осталась очень довольна своей стрижкой, и мастер была такой милая и внимательная.</p>
      </div>
    </div>
  </div>
  <div class="slider_points">
    <div>
      <button class="slider_point"></button>
      <button class="slider_point"></button>
      <button class="slider_point"></button>
      <button class="slider_point"></button>
      <button class="slider_point"></button>
    </div>
  </div>

</div>
