<div class="offer content">
  <div class="relative-address gap-bottom">
    <p class="relative-address__text">
      <span routerLink="/main-page">Главная / </span>
      <span>Услуги / </span>
      <span routerLink="/services">Аппаратная косметология / </span>
      <span class="relative-address__current">RF-лифтинг</span>
    </p>
  </div>
  <div class="offer__information">
    <div>
      <h1>RF-лифтинг</h1>
      <p class="gap">RF-лифтинг — это неинвазивная процедура омоложения кожи, которая использует радиочастотные волны для стимуляции собственного производства коллагена и эластина в коже. Она помогает уменьшить морщины и тонизировать кожу, делая её более упругой и молодой.</p>
      <ul class="gap-bottom-normal">
        <li>Уменьшение морщин</li>
        <li>Тонизирование кожи</li>
        <li>Омоложение кожи</li>
      </ul>
      <button class="btn_online-registration" type="button">Онлайн запись</button>
    </div>
    <div class="offer__image">
      <img src="assets/images/img_16.png" alt="">
    </div>
  </div>
  <div class="offer__advantages new-point">
    <h2>Преимущества  процедуры</h2>
    <div class="offer__advantages-list new-paragraph">
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>1</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Безопасность</h3>
          <p>Процедура которая не требует хирургического вмешательства, что делает ее более безопасной и менее рискованной, чем другие процедуры омоложения</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>2</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Минимальное время восстановления</h3>
          <p>Не требует много времени для восстановления, что позволяет вам сразу вернутсья к своим делам</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>3</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Широкий спектр применения</h3>
          <p>Эта процедура может быть проведена на любой области тела, включая лицо, декольте, шею, живот и бедра</p>
        </div>
      </div>
      <div class="offer__advantages-card">
        <div class="offer__advantages-number">
          <div>
            <p>4</p>
          </div>
        </div>
        <div class="offer__advantages-points">
          <h3>Результат</h3>
          <p>Результаты данной процедуры могут быть заметны уже после первой сессии, однако для достижения максимального эффекта рекомендуется произвести от 3 до 6 процедур</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offer__questions new-point">
    <h2>Быстрые вопросы</h2>
    <div class="offer__questions-list new-paragraph">
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="offers__offer-title">
            <h2>Криополиз</h2>
            <p>Подробнее о процедуре</p>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="offers__offer-title">
            <h2>Криополиз</h2>
            <p>Подробнее о процедуре</p>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="offers__offer-title">
            <h2>Криополиз</h2>
            <p>Подробнее о процедуре</p>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="offers__offer-title">
            <h2>Криополиз</h2>
            <p>Подробнее о процедуре</p>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="offers__offer">
        <div class="offers__offer-main">
          <div class="offers__offer-title">
            <h2>Криополиз</h2>
            <p>Подробнее о процедуре</p>
          </div>
          <img src="assets/icons/chevron.svg" alt="">
        </div>
        <ul class="offers__list-detailed">
          <li>Rf-лифтинг тела:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
          <li>Rf-лифтинг лица:
            <ul>
              <li>
                <hr>
                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
              <li>

                <div class="offers__list-card">
                  <span>внутренняя поверхность рук</span>
                  <span>20 минут</span>
                  <span>45 ₽</span>
                </div>
                <hr>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="offer__gallery new-point">
    <h2>Галерея работ</h2>
    <div class="offer__gallery-photos new-paragraph">
      <div><img src="assets/images/img_17.png" alt=""></div>
      <div><img src="assets/images/img_18.png" alt=""></div>
      <div><img src="assets/images/img_19.png" alt=""></div>
    </div>
  </div>
</div>

