<div class="offers content">
  <div class="relative-address">
    <p class="relative-address__text">
      <span routerLink="/main-page">Главная / </span>
      <span>Услуги / </span>
      <span class="relative-address__current">Аппаратная косметология</span>
    </p>
  </div>
  <h1 class="offers__title">Аппаратная косметология</h1>
  <p class="offers__subtitle">Аппаратная косметология — это современный метод ухода за кожей, основанный на использовании высокотехнологичного оборудования и инновационных методик. Это позволяет добиться заметных результатов в короткие сроки без хирургического вмешательства.</p>
  <p class="offers__subtitle">В нашем салоне красоты мы предлагаем широкий спектр аппаратных процедур для ухода за кожей лица и тела, которые подходят для любого типа кожи и проблем. Мы работаем только на качественном оборудовании от известных производителей и используем только сертифицированные косметические </p>
  <div class="offers__list">
    <div class="offers__offer" routerLink="service">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="offers__offer">
      <div class="offers__offer-main">
        <div class="offers__offer-title">
          <h2>Криополиз</h2>
          <p>Подробнее о процедуре</p>
        </div>
        <img src="assets/icons/chevron.svg" alt="">
      </div>
      <ul class="offers__list-detailed">
        <li>Rf-лифтинг тела:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
        <li>Rf-лифтинг лица:
          <ul>
            <li>
              <hr>
              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
            <li>

              <div class="offers__list-card">
                <span>внутренняя поверхность рук</span>
                <span>20 минут</span>
                <span>45 ₽</span>
              </div>
              <hr>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
